/* Basic page setup */
* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgb(0, 247, 255), rgb(32, 0, 128));
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100vh;
  color: rgb(255, 255, 255);
  /* margin: 10px; */
  /* border-image: 5%; */
  font-size: 16px;
  height: 100vh;
  overflow: hidden;
}

header {
  display: flex;
  gap: 5px;
  height: fit-content;
  font-size: 24px;
  color: rgb(255, 255, 255);
}

p {
  margin: 0px;
}

/*
Source - https://stackoverflow.com/a/36620107
Posted by web-tiki, modified by community. See post 'Timeline' for change history
Retrieved 2026-05-19, License - CC BY-SA 3.0
*/

/* Toggle all button */
#toggle-all-btn {
  background-image: url(images/toggle1.png);
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: fill;
  border: 0cap;
  width: 60px;
  height: 40px;
  margin-left: 12px;
  padding: 0px;
  cursor: pointer;
}

#toggle-all-btn:hover {
  background-image: url(images/icon.png);
}

a {
  margin: 0rem;
  font-size: 16px;
  text-indent: 5px;
  /* display: block; text-indent only works on block-level elements */
  color: rgb(255, 255, 255);
}

/*
ANIMATION PAPERCLIP*/

.paperclip {
  z-index: 10;
  height: auto;
  top: 5%;
  width: 20vw;
  animation: moveX 20s linear infinite;
  position: fixed;
  left: 0;
  object-fit: cover;
}

@keyframes moveX {
  to {
    transform: translateX(900%);
  }
}

/* The pinboard grid */

.pinboard {
  position: relative;
  width: auto;
  min-height: 100vh; /* grows with content /* fixed height so abs-positioned children aren't clipped /*  */
  overflow: hidden; /*  don't clip pins near the edges  */
}

.pin a {
  display: block;
  text-indent: 5px;
}

.pin {
  position: absolute; /* JS will set top/left/rotate */
  /* position: relative; */
  cursor: pointer;
}

.pin:hover {
  z-index: 0;
}

.pin figcaption {
  display: block;
  padding: 1.5rem;
  height: 100%;
}

/* By default: show descriptions, hide images */

.pin img {
  display: none;
  margin-left: 3rem;
}

/* When the pin has the class "text-mode",
   swap them: hide description, show images */

.pin.text-mode figcaption {
  display: none;
}

.pin.text-mode img {
  width: 50px;
  height: auto;
  display: block;
  object-fit: fill;
}
