/* Basic page setup */
* {
  box-sizing: border-box;
}

body {
  background: linear-gradient(rgb(0, 247, 255), rgb(32, 0, 128));
  background-repeat: no-repeat;
  min-width: 100%;
  min-height: 100vh;
  color: rgb(255, 255, 255);
  margin: 10px;
  border-image: 5%;
  height: fit-content;
  font-size: 16px;
}

header {
  display: flex;
  gap: 5px;
  height: fit-content;
  margin-left: 2%;
  font-size: 24px;
  color: rgb(255, 255, 255);
}

/*
Source - https://stackoverflow.com/a/36620107
Posted by web-tiki, modified by community. See post 'Timeline' for change history
Retrieved 2026-05-19, License - CC BY-SA 3.0
*/

div {
  position: absolute;
  left: 0;
  object-fit: cover;
  width: 20%;
  height: 30vh;
  animation: translate 20s infinite linear;
}

@keyframes upDown {
  to {
    transform: translatey(100px);
  }
}
@keyframes translate {
  to {
    transform: translatex(900%);
  }
}

/* Toggle all button */
#toggle-all-btn {
  background-image: url(images/toggle1.png);
  background-color: transparent;
  background-size: 100%;
  background-repeat: no-repeat;
  object-fit: fill;
  border: 0cap;
  width: 30px;
  height: 20px;
  margin-left: 12px;
  /* font-sizh: 14px; */
  padding: 0px;
  /* border: 2px solid rgba(255, 255, 255, 0.8);
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.15);
  color: white; */
  cursor: pointer;
  /* transition: background 0.2s; */
}

#toggle-all-btn:hover {
  background-image: url(images/icon.png);
}

img {
  margin-left: 3rem;
}

a {
  margin: 0rem;
  font-size: 16px;
  text-indent: 5px;
  display: block; /* text-indent only works on block-level elements */
  color: rgb(255, 255, 255);
}

/* The pinboard grid */

.pinboard {
  position: relative;
  width: 100%;
  height: 80vh; /* fixed height so abs-positioned children aren't clipped */
  overflow: visible; /* don't clip pins near the edges */
}

.pin {
  position: absolute; /* JS will set top/left/rotate */
  cursor: pointer;
  /* width: 100px;
  height: 35px; */
}

.pin:hover {
  z-index: 0;
}

.pin figcaption {
  display: block;
  padding: 1.5rem;
  height: 100%;
}

/* By default: show descriptions, hide images */

.pin img {
  display: none;
}

/* When the pin has the class "text-mode",
   swap them: hide description, show images */

.pin.text-mode figcaption {
  display: none;
}

.pin.text-mode img {
  width: 50px;
  height: 35px;
  display: block;
  object-fit: fill;
}
