/* Basic page setup */
* {
  box-sizing: border-box;
}

@font-face {
  font-family: vendor;
  src: url("vendor.otf");
}

body {
  margin: 0;
  margin: 1rem;
  height: fit-content;

  font-size: 16px;
}

header {
  font-family: "vendor", Helvetica, sans-serif;
  height: fit-content;
  margin: 0%;
  font-size: 36%;
}

a {
  font-family: "Courier New", Courier, monospace;
  margin: 0rem;
  font-size: 12px;
}

.pinboard {
  display: grid;
  grid-template-columns: repeat(4, 24%);
  gap: 1vw;
  width: 100vw;
  height: fit-content;
  margin: 0 auto;
}

.image-swap {
  display: block;
  position: relative;
  width: 10vw; /* set your size */
  height: 10vh;
}

.image-swap img {
  position: absolute;
  top: 0;
  left: 0;
  width: 10vw;
  height: 10vh;
}

.hover-img {
  opacity: 0;
}

.image-swap:hover .default-img {
  opacity: 0;
}

.image-swap:hover .hover-img {
  opacity: 1;
}
