/* Basic page setup */
* {
  box-sizing: border-box;
}

body {
  background-color: rgb(255, 0, 225);
  color: rgb(0, 0, 0);
  margin: 5px;
  border-image: 5%;
  height: fit-content;
  font-size: 16px;
}

header {
  height: fit-content;
  margin-left: 5%;
  text-align: center;
  font-size: 24px;
  color: rgb(0, 0, 0);
}

img {
  margin-left: 3rem;
}

a {
  margin: 25vw;
  font-size: 16px;
  color: rgb(0, 0, 0);
  
}


